<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>117606118959-j5uv6glkc6rc81qsalt1rb2urpm5k3c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117606118959-j5uv6glkc6rc81qsalt1rb2urpm5k3c2</string>
	<key>API_KEY</key>
	<string>AIzaSyDpE1SoIHnf6GY02i07DTXKcyKIqCFdAAk</string>
	<key>GCM_SENDER_ID</key>
	<string>117606118959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.GCCVendorMobile</string>
	<key>PROJECT_ID</key>
	<string>gccvendormobile</string>
	<key>STORAGE_BUCKET</key>
	<string>gccvendormobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:117606118959:ios:54243aa972cefcd2</string>
	<key>DATABASE_URL</key>
	<string>https://gccvendormobile.firebaseio.com</string>
</dict>
</plist>